{
  "client_id": "660e55c2f5103c141ae9",
  "client_secret": "71b7b2559f7be0364e826b3cbf0746cd694e684e",
  "host": "github.com",
  "port": 443,
  "path": "/login/oauth/access_token",
  "method": "POST"
}
